<h2>Profesores</h2>

<div>&nbsp;</div>
<button class="button button-square button-primary button-small" ng-click="tch.openForm()" ng-hide="tch.formMode"><i class="fa fa-plus"></i></button>
<div>&nbsp;</div>
<div class="card" ng-init="tch.getTeachers()" ng-hide="tch.formMode">
    <table class="table table-responsive" >
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Genero</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="teacher in tch.teachers">
            <td>
                <button class="button button-square button-action button-tiny" ng-click="tch.openForm(teacher)"><i class="fa fa-edit"></i></button>
            </td>
            <td>{{teacher.id}}</td>
            <td>{{teacher.name}}</td>
            <td>{{teacher.lastname}}</td>
            <td>{{{"m":"Masculino", "f": "Femenino"}[teacher.gender]}}</td>
            <td>
                <button class="button button-square button-caution button-tiny" ng-click="tch.deleteTch(teacher)"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<form class="card" ng-submit="tch.save(tch.teacher)" ng-show="tch.formMode">
    <div class="card-content">
        <h3>{{{'false': "Nuevo", 'true': "Editar"}[crs.editMode]}} Profesor</h3>
        <div>&nbsp;</div>
        <div class="form-item">
            <label for="txtId">Identificación</label>
            <input class="input" name="txtId" id="txtId" type="text" ng-model="tch.teacher.id" ng-disabled="tch.editMode">
        </div>
        <div class="form-item">
            <label for="txtName">Nombre</label>
            <input class="input" name="txtName" id="txtName" type="text" ng-model="tch.teacher.name">
        </div>
        <div class="form-item">
            <label for="txtLastname">Apellido</label>
            <input class="input" name="txtLastname" id="txtLastname" type="text" ng-model="tch.teacher.lastname">
        </div>
        <div class="form-item">
            <label for="cbxGender">Género</label>
            <select class="input" name="cbxGender" id="cbxGender" ng-model="tch.teacher.gender">
                <option value="m">Masculino</option>
                <option value="f">Femenino</option>
            </select>
        </div>
        <div>
            <button type="submit" class="button button-primary button-small"><i class="fa fa-save"></i> Guardar</button>
            <button type="button" ng-click="tch.cancel(false)" class="button button-small"><i class="fa fa-times"></i> Cancelar</button>
        </div>
    </div>
</form>
